/* resources/css/nprogress-custom.css */

/* Ensure high specificity */
body #nprogress .bar {
    background: #9333EA !important; /* Use !important to override default styles */
  }

  body #nprogress .spinner-icon {
    border-top-color: #9333EA !important;
    border-left-color: #9333EA !important;
  }

  body #nprogress .peg {
    box-shadow: 0 0 10px #9333EA, 0 0 5px #9333EA !important;
  }
